.collective h2{
  font-family: "RobotoRegular";
  font-size: 30px;
}
.employe-photo {
  margin: 0 auto;
  height: 230px;
  width: 230px;
}
.unlined-title {
  border-top: 1px solid grey;
  padding-top: 20px;
}
p {
  font-family: "RobotoLight";
  font-size: 16px;
}
.bigger {font-size: 24px;}